<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cool.zhang0.content.mapper.MvCategoryMapper">

    <resultMap id="BaseResultMap" type="MvCategory">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="label" column="label" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="isShow" column="is_show" jdbcType="TINYINT"/>
            <result property="orderBy" column="order_by" jdbcType="INTEGER"/>
            <result property="isLeaf" column="is_leaf" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,label,
        parent_id,is_show,order_by,
        is_leaf
    </sql>
</mapper>
