<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cool.zhang0.content.mapper.TsMedalMapper">

    <resultMap id="BaseResultMap" type="TsMedal">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="store" column="store" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        store
    </sql>
</mapper>
